.container {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    height:100vh;
}

.headercontainer {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 4px;
    border-color: red;
    border-style: dashed;
}

.ProjAnnTrenContainer {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 4px;
    border-color: red;
    border-style: dashed;
    display:grid;
    grid-template-columns: 3fr 1fr;
   
}

.Dashboard {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 4px;
    border-color: red;
    border-style: dashed;
 
    
}

.Projects {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

.Announcetrendcontainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
 
}