@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin:0px;
}


.container {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    height:100vh;
}

.headercontainer {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 4px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding:30px;
}

.Header {
    display:flex;
    gap: 70px; 
    justify-content: space-evenly;  
}

.icon {
    display:flex;
    gap: 30px;
}

.searchbar {
    display:flex;
    gap: 10px;
}


.ProjAnnTrenContainer {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 4px;
    display:grid;
    grid-template-columns: 3fr 1fr;
    background-color: #d1d5db;
    padding:20px;
    gap: 30px;
   
}

.Dashboard {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 4px;
    border-color: white;
    border-style: solid;
    background-color: #60a5fa;
    padding:20px;
    
}

#welcomeannounce,#welcometrend,#YourProject {
 font-weight:bold;
    
}

#greeting { 
    font-weight:bold;
}

.Projects {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 20px;
    row-gap:20px;
    height:95%;
}

.Project {
    background-color: white;
    border-radius: 10px;
    padding:30px;
}
.projecticons {
    display:flex;
    justify-content: flex-end;
    gap: 30px;
}
.IndividualProject {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}

.Announcetrendcontainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

button {
    background-color: #60a5fa;
    border-style:none;
    border-radius: 10px;
    width:10rem;
    color:white;
    font-size: large;
}
.Announcements,.Trending {
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;

}

.search {
    width:1000px;
    background-color: #d1d5db;
    border-style:none;
    border-radius: 20px;
}

.Subheader {
    display:flex;
    justify-content: space-between;
}

.buttoncontainer {
    display:flex;
    gap: 20px;

}

.greetingcontainer {
    display:flex;
    gap:30px;
}
 
.name {
    font-weight: bold;
}